html, body {
    height: 100%;
    margin: 0;
    background: #9cd1cb;
    padding: 0;
}
#map {
    height: 100%;
}
#legend {
    background: #FFF;
    padding: 13px 13px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    border-radius: 3px;
}
#legend h3{
    margin-top: 3px;
}